-webkit-appearance: none;

html,
body {
 position: relative;
}

body {
    background-color: aliceblue;
		margin: 0px;
}

h2{ margin-block-start:0;}
h1,h2, h3, p {
  text-align: center;
  font-weight: 400;
	
}

#page-container {
	display: block;
	position: relative;
  min-height: 100vh;
}

#result, #yt_content{
  padding: 10px;
  margin: auto;
}
#link_box, #link_box_submit_btn, #error_001, #is_youtube_video_box{
  display: block;
  margin: 5px auto;
  padding: 5px;
  text-align: center;
}
input#link_box {
	border-radius: 20px;
	width: 600px;
	height: 32px;
	box-shadow: 1px 2px 10px #888888;
	border-color: transparent;
}

::-webkit-input-placeholder {
	font-size: 18px;
	line-height: normal;
}

@media screen and (max-width: 600px) {
  input#link_box {
	width: 300px;
	height: 30px;
	box-shadow: 1px 1px 5px #888888;
	}
}
@media screen and (max-width: 400px) {
  input#link_box {
	width: 200px;
	height: 35px;
	padding: 0 2px;
	box-shadow: 1px 1px 5px #888888;
	}
	::-webkit-input-placeholder {
		font-size: 14px;
		line-height: normal;
	}
}
#link_box_submit_btn {
	width: 60px;
	box-shadow: 2px 4px 10px #888888;
	border-color: transparent;
	border-radius: 20px;
	background-color: SeaShell;
}
.spacer {
	display: block;
  margin-bottom: 15px;
}

#yt_content {
	max-width: fit-content; 
	text-align: center;
}

footer {
	position: absolute;
	bottom: 0;
  background-color: LightSteelBlue;
  color: white;
	width: 100%;
}