---
layout: page
title: Categories
permalink: /categories/
feature-img: "assets/img/sample_feature_img_2.png"
---
<head>
  <link rel="stylesheet" type="text/css" href="../public/css/styles.css">
</head>
<div id="archives">
{% for category in site.categories %}
  <div class="archive-group">
    {% capture category_name %}{{ category | first }}{% endcapture %}
    <div id="#{{ category_name | slugize }}"></div>
    <h3 class="category-head">{{ category_name }}</h3>
    <a name="{{ category_name | slugize }}"></a>
    {% for post in site.categories[category_name] %}
      <p><a href="{{ site.baseurl }}{{ post.url }}">{{post.title}}</a>
				<span style="float:right">{{ post.date | date: "%m/%d/%Y" }}</span>
			</p>
    {% endfor %}
  </div>
{% endfor %}
</div>
